.loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.loginCard{
    width: 100%;
    max-width: 24rem;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f0efef;
}
.cardTitle{
    font-size: 1.2rem;
    font-weight: 700;
    color: #333;
}
.cardDescription{
    font-size: 1rem;
    color: #666;
}

.inputField{
    padding: 10px;
    border: 1px solid #ccc;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}
.inputField:hover{
    padding: 10px;
    border: 1px solid #ccc;
    background-color: rgb(189, 188, 188);
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}